body {
  margin: 0;
  padding: 0;
  background-color: #010409;
  color: #e6edf3;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.font-mono {
  font-family: 'JetBrains Mono', monospace;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #010409;
}

::-webkit-scrollbar-thumb {
  background: #30363d;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #484f58;
}